Flask
gunicorn
flask-cors
python-dotenv

bcrypt
pyjwt
google-auth
google-auth-oauthlib

numpy
pandas
scikit-learn

pillow
opencv-python-headless

transformers
sentencepiece
huggingface-hub

torch
sentence-transformers